/* @import-normalize; */

@font-face {
    font-family: "RobotoCondensed";
    font-weight: 400;
    src: local("RobotoCondensed"), url(./assets/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Oswald";
    font-weight: 500;
    src: local("Oswald"), url(./assets/fonts/Oswald.ttf) format("truetype");
}

@font-face {
    font-family: "PlayfairDisplay";
    font-weight: 800;
    src: local("PlayfairDisplay"), url(./assets/fonts/PlayfairDisplay.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #9fa1a1;
}

.but_n a {
    color: white;
}

.but_n {
    animation: bounce .6s ease infinite alternate;
    background-color: rgb(111, 189, 181);
    text-decoration: dotted;
    width: 10%;
    height: 60%;
    border-radius: 0.7em;
    position: absolute;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-o-keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-ms-keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.skills {
    display: flex;
    position: absolute;
    flex-direction: edge;
    width: 100%;
    height: 10%;
    background-color: #003030;
}

.skill-grid {
    display: flex;
    justify-Content: center;
    width: 50%;
    height: 50%;
    background-color: none;
    align-items: center;
}